ENV="dev"
MONGODB_URI=mongodb://localhost:27017

# FastAPI backend reachable from the nextjs frontend
NEXT_PUBLIC_FASTAPI_FRONTEND_URL="http://localhost:8000"
# FastAPI backend reachable from the nextjs backend
FASTAPI_BACKEND_URL="http://backend:8000"
# FastAPI backend root path
FASTAPI_ROOT_PATH="/"
# FastAPI backend secret key
FASTAPI_SECRET="default_fastapi_secret_for_development"

# NextJS frontend
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET=your-nextauth-secret

# Github OAuth
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Google OAuth
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=